.menuPrincipal{
	height: 90px;
	background:  #2e4053;
}

body, html{
	height: 100%;
	padding: 0;
	margin: 0;
}

.logo{
	height: 80px;
	margin-top: 10px;
}	

body{
	background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*background: linear-gradient(rgba(95, 114, 190, .8), rgba(155, 35, 234, .7));*/
	background-size: cover;
	background-position: center; 
	color: white;
}

.form-control{
	background: transparent !important;	
	color: #fff !important;
}

.home:hover{
	color: yellow !important;
}

.home{
	color:  #3498db !important;
}

.teams:hover{
	color: yellow !important;
}

.teams{
	color:  #3498db !important;
}

.menuDesplegable:hover{
	background-color: #2e4053;
}

select option {
	color:black;
    }
