.menuPrincipal{
	height: 90px;
	background:  #2e4053;
}

body, html{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*background: linear-gradient(rgba(95, 114, 190, .8), rgba(155, 35, 234, .7));*/
	background-size: cover;
	background-position: center; 
	color: white;
}

.logo{
	height: 80px;
	margin-top: 10px;
}

.text-description{
	letter-spacing: 2px;
	font-family: sans-serif;
}

.form-control{
	background: transparent !important;	
	color: #fff !important;
}

a .fab{
	color: #fff;
	font-size: 30px;
	margin: 0 10px;
}

.messi{
	height: 250px;
}

.wht, .fcbk{
	color:#2e4053 !important;

}

.home:hover{
	color: #f1c40f;
	font-size: 20px;
}

.home{
	color:  #3498db;
	font-size: 18px;
}

.btn-enviar{
	background: #2e4053;
	color: white;
	width: 30%;
	padding: 10px;
	font-size: 20px;
}

.btn-enviar:hover{
	background: #2e4053 !important;
}

.btn-enviar:active{
	transform: scale(1.08)
}

.form-control:hover{
	background: #2e4053 !important;
}

.titulo_1{
	color:  #f7dc6f;
}

.text-description{
	color: #2e4053;
}